<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="courseBean" class="com.durgasoft.beans.Course">
        <property name="cname" value="Java"/>
        <property name="cid" value="C-11"/>
        <property name="ccost" value="3000"/>
    </bean>
    
    <bean id="courseBean2" class="com.durgasoft.beans.Course" autowire-candidate="false">
        <property name="cname" value="Python"/>
        <property name="cid" value="C-12"/>
        <property name="ccost" value="4000"/>
    </bean>
    
        <bean id="studentBean" class="com.durgasoft.beans.Student" autowire="byType">
        <property name="sid" value="S-11"/>
        <property name="sname" value="Sai prasad"/>
        <property name="saddr" value="Hyderabad"/>
        <property name="stucourse" ref="courseBean2"/>
    </bean>

</beans>